.navbar {
  background-image: linear-gradient(-25deg, #00f260, #0575e6);
}

.linkedin {
  color: blue;
}

.yahoo {
  color: blueviolet;
}

.navbar a {
  padding: 0;
  text-decoration: none;
  font-size: 1rem;
}

.navbar a:hover {
  background-color: #6cf;
  border-radius: 5px;
}
.cert {
  color: black;
}

@media (max-width: 435px) {
  .navbar a {
    width: 45%;
  }
}
